/* App.module.css */
html {
  margin: 0;
  padding: 0;
  background-color: #333;

}

.main {
  min-height: 700px;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 0 auto;

}

@media screen and (min-width: 1200px) {
  .main {
    width: 1200px;

  }
}

@media screen and (max-width: 1200px) and (min-width: 720px) {
  .main {
    width: 720px;

  }
}

@media screen and (max-width: 720px) and (min-width: 360px) {
  .main {
    width: 480px;
  }
}


.main ul {
  list-style: none;
  padding: 0;
  margin-right: auto;
}

.main li {
  display: inline;
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.main a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav{
  display: flex;
  margin-right: auto;
  align-items: center;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: red;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: -98;
  left: 800px;
}


.btn_menu {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.authIcon {
  margin-right: 10px;
}

.cart-item{
  padding : 5px;
}